:root {
    --rosa-claro: #f7e6eb;
    --rosa-medio: #f7c6d0;
    --rosa-fuerte: #f4b6c3;

    --marron: #6b4f3f;
    --marron-claro: #d8cfc9;

    --crema: #faf7f5;
    --blanco: #ffffff;
}
